<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>需要蓝牙权限来检测并连接声阔 Aeroclip 耳机</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>需要蓝牙权限来连接声阔 Aeroclip 耳机</string>
    <key>NSSupportsLiveActivities</key>
    <true/>
    <key>NSSupportsLiveActivitiesFrequentUpdates</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
        <string>bluetooth-central</string>
    </array>
    <key>UILaunchScreen</key>
    <dict/>
</dict>
</plist>
